h1, h2, h3, h4, p {
  font-family: Roboto !important; }

h1 {
  padding: 80px 0 40px;
  font-size: 40px;
  line-height: 48px;
  color: #505762; }

#top {
  overflow: hidden;
  height: 200px;
  background: #fff;
  background: #34649d; }
  #top h1 {
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0; }

#search {
  width: 100%;
  background: #ddd;
  padding: 10px;
  text-align: center;
  font-family: Arial; }
  #search input {
    width: 200px;
    height: 40px;
    padding: 10px; }

.space {
  width: 100%;
  background: #eee;
  padding: 5px;
  text-align: center; }

.posts .items > li:first-child {
  background: #fff !important; }

.items li {
  border-bottom: 1px solid #eee;
  padding: 10px; }
  .items li h2 a {
    color: #34649d;
    font-size: 40px;
    margin-bottom: 20px;
    display: block;
    line-height: 41px; }
  .items li h3 a {
    color: #34649d;
    font-size: 25px;
    line-height: 26px; }
  .items li span {
    opacity: .5; }

.wrap {
  padding-top: 20px; }
  .wrap h2 {
    color: #34649d;
    font-size: 40px;
    line-height: 44px;
    margin: 10px 0px;
    display: block; }

/**
 *   Pagination
 */
.pagination {
  overflow: hidden;
  padding: 30px 0;
  margin-bottom: 50px;
  border-top: 1px solid rgba(22, 36, 54, 0.1);
  border-bottom: 1px solid rgba(22, 36, 54, 0.1); }
  .pagination:empty {
    display: none; }
  .pagination a {
    float: left;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #6f7b8b; }
    .pagination a:hover {
      color: #3c4857; }
    .pagination a.next {
      float: right; }

/**
 *   Give some extra space to single-page wrappers
 */
.content.wrap ul, .content.wrap ol {
  padding: 20px 30px; }

.items li ul {
  padding: 20px 30px; }

.content.wrap ul ul, .content.wrap ol ol {
  padding: 0 20px; }

.items li ul ul {
  padding: 0 20px; }

/**
 *   Footnotes and straplines
 */
.footnote, .commentlist time, .items footer {
  display: block;
  padding: 5px 0 15px;
  color: #98a2b1;
  font-size: 14px;
  font-style: italic;
  white-space: nowrap; }
  .footnote .icon, .commentlist time .icon, .items footer .icon {
    color: #fff;
    background: #34649d;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%; }
    .footnote .icon:hover, .commentlist time .icon:hover, .items footer .icon:hover {
      background: #000; }

/**
 *   Comment form
 */
ul.commentlist {
  margin-bottom: 20px;
  list-style: none;
  border-top: 1px solid rgba(22, 36, 54, 0.1); }
  ul.commentlist .wrap {
    position: relative; }
  ul.commentlist li {
    padding: 40px 0;
    border-bottom: 1px solid rgba(22, 36, 54, 0.1); }
  ul.commentlist time {
    font-size: 13px; }
  ul.commentlist h2 {
    font-size: 25px;
    line-height: 33px; }
  ul.commentlist .counter {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    font-weight: 300;
    color: #cdd2da; }

#comment {
  overflow: hidden; }
  #comment label[for] {
    display: none; }
  #comment p {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 10px;
    text-indent: 0; }
    #comment p + p {
      margin-right: 0; }
    #comment p.textarea {
      float: none;
      width: 100%; }
  #comment input, #comment textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    border: 1px solid rgba(22, 36, 54, 0.2);
    border-radius: 4px; }
  #comment input:focus {
    outline: none;
    background: #f7f9fc; }
  #comment textarea {
    min-height: 150px;
    max-height: 800px;
    resize: vertical; }
    #comment textarea:focus {
      outline: none;
      background: #f7f9fc; }
  #comment button {
    display: inline-block;
    padding: 9px 18px;
    background: #34649d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500; }
    #comment button:hover {
      background: #000; }

footer {
  margin: 20px 0px; }
  footer .icon {
    color: #fff;
    background: #34649d;
    padding: 20px;
    border-radius: 50%; }
    footer .icon:hover {
      background: #000; }

article a {
  color: #34649d; }
article img {
  margin-bottom: 10px; }

.post strong {
  font-weight: normal;
  padding-bottom: 40px; }
